<div class="ovens">
  <div class="headerLine">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-4">
            <div>
              <a href="/">
                <%=image_tag "logo.png", class:"logo"%>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="navmenu"style="text-align: center;">
              <ul id="menu">
                <li><a href="/#home">Главная</a></li>
                <li><a href="/#about">О нас</a></li>
                <li><a href="/#catalog">Каталог</a></li>
                <li><a href="/#shares">Акции</a></li>
                <li class="last"><a href="/#contact">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center text-uppercase">Печи</h1>
  </div>
</div>
<div class="col-md-12 items">
  <%=link_to wood_ovens_path  do%>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div><%=image_tag "items/wood_stove.jpg", class:"img-responsive"%></div>
        <h3 class="text-center text-uppercase">Дровяные печи для бани</h3>
      </div>
  <%end%>
  <%=link_to gas_ovens_path  do%>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div><%=image_tag "items/gas-furnace.jpg", class:"img-responsive"%></div>
        <h3 class="text-center text-uppercase">Газовые печи для бани</h3>
      </div>
  <%end%>
  <%=link_to heating_ovens_path  do%>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div><%=image_tag "items/heating_stove.jpg", class:"img-responsive"%></div>
    <h3 class="text-center text-uppercase">Отопительные печи</h3>
  </div>
  <%end%>
  <%=link_to fireplaces_path  do%>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div><%=image_tag "items/fireplace_insert.jpg", class:"img-responsive"%></div>
        <h3 class="text-center text-uppercase">Каминные топки</h3>
      </div>
  <%end%>
  <%=link_to electric_ovens_path  do%>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div><%=image_tag "items/electric.jpg", class:"img-responsive"%></div>
        <h3 class="text-center text-uppercase">Электрогенерирующие печи</h3>
      </div>
  <%end%>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div><%=image_tag "items/water_warmer.jpg", class:"img-responsive"%></div>
    <h3 class="text-center text-uppercase">Водогрейные котлы</h3>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div><%=image_tag "items/small.jpg", class:"img-responsive"%></div>
    <h3 class="text-center text-uppercase">Портативные печи</h3>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div><%=image_tag "items/mangal.jpg", class:"img-responsive"%></div>
    <h3 class="text-center text-uppercase">Мангалы и коптильни</h3>
  </div>
</div>